@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TicketSystemTableView>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Core.TheTicketSystem.Objects;
@{
	Layout = "Master.cshtml";
	
	TicketApiController tc = new TicketApiController();
	var tickets = tc.GetAll();
	
	StatusApiController sc = new StatusApiController();
	IList<Status> statuses = (IList<Status>)sc.GetAll();
}
<div>
	<h1>Ticket Table</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody id="ticketList">
		@foreach (var ticket in tickets) 
		{
			<tr>
				<td>@ticket.Id</td>
				<td>@ticket.Subject</td>
				<td>@statuses[@ticket.fiStatus -1].Name</td>
			</tr>
		}
		</tbody>
	</table>
</div>